@{
    ViewData["Title"] = "Start sidan";
}

<div class="text-center">
    <p>Nu kan ni tvätta bilen i min nyrenoverade tvätthall. 
    Den är en ny högtryckstvätt som klarar all smuts </p>
    <p>Var 10 biltvätt är gratis så passa på att tväta bilen nu</p>

    <a class="nav__a" asp-controller="Car" asp-action="SmutsEstimat">Till tvätthallen</a>
</div>
